
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbarStyle {
  background: rgb(0, 0, 0);
  height: 60px;
  display: block;
}

.h1styleBold {
  text-align: center;
  color: white;
  line-height: 60px;
  margin: 0;
  display: block;
  font-size: 22px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
  font-family: Montserrat;
}


.h1styleBlack {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-weight: 900;
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.h1styleRed {
  color: rgb(184, 3, 3);
  font-family: Roboto;
  font-weight: 900;
  font-size: 12px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.frame {
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
}


.calculate-frame {
  background: #DDDDDD;
  width: 450px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UL {
  list-style-type: none;
  background: #DDDDDD;
  width: 350px;
  height: 280px;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  font-size: 0px;
}

.inPut {
  width: 300px;
  height: 30px;
}

.inPut-design {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align:start; 
  border-width: 1px;
  border-radius: 4px;
}

.inPut-danger {
  border-color: brown;
}

.inPut-true {
  border-color: rgb(76, 235, 71);
}

.PlatoSG {
  width: 200px;
  border-radius: 4px 0px 0px 4px;
  
}

.but {
  width: 50px;
  height: 34px;
  border-radius: 0px 0px 0px 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: black;
  border-width: 1px;
  background: white;
}
.butSG {
  border-radius: 0px 4px 4px 0px;
  
}

.but:hover, .butSG:hover, .buttonDrop:hover {
  color: #6E41E2;
  border-color: #6E41E2;
}

.butPurp {
  width: 50px;
  height: 34px;
  border-radius: 0px 0px 0px 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  border-color: #6E41E2;
  background-color: #6E41E2;
}

.but:active, .butSG:active, .buttonDrop:active {
  color: #ffffff;
  border-color: #6E41E2;
  background-color: #6E41E2;
}

.btn__danger {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #bd2130;
}

.agree {
  color: rgb(8, 0, 0);
  background-color: #ffffff;
  border-color: #40bd21;
}


.inputstyle {
  margin: 20px;
  
}

.button1 {
  padding: 0px 0px;
  width: 310px;
  background: #6E41E2;
  color: white;
  border-width: 0px;
  border-radius: 4px;
  display: inline-block;
}
.button1:hover {
  background: #4719b9;
}
.button1:active {
  background: #3b0cb3;
}


.visuall-yes {
  overflow: hidden;
  display: block;
  background-color: #DDDDDD;
}

.visuall-hidden {
  overflow: hidden;
  display: none;
  background-color: #DDDDDD;
}